pipeline/FullLoad.json
{
	"name": "FullLoad",
	"properties": {
		"activities": [
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "SqlServerSink",
						"preCopyScript": "DROP TABLE IF EXISTS dbo.Employeedata",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SOURCE_DelimitedText",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_sink_SqlServerTable",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "Employeedata"
						}
					}
				]
			},
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AUDITlog_SqlServerTable",
						"type": "DatasetReference",
						"parameters": {
							"PipelineName": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"pipelinerunid": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"pipelinestatus": "SUCCESS",
							"RunStart": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"Duration": {
								"value": "@activity('Copy data').output.copyDuration",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "email_Success",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://testadfman.azurewebsites.net:443/api/emailsucess/triggers/When_a_HTTP_request_is_received/invoke?api-version=2022-05-01&sp=%2Ftriggers%2FWhen_a_HTTP_request_is_received%2Frun&sv=1.0&sig=OwauAh7nq6unZn9jKTz3--xueX494gNfNiSZ-0qpe3Q",
					"method": "POST",
					"body": {
						"value": "{\n    \"message\" : \"This is a custom dynamic message from your \n     pipeline with run ID @{pipeline().RunId}.\",\n    \"dataFactoryName\" : \"@{pipeline().DataFactory}\", \n    \"pipelineName\" : \"@{pipeline().Pipeline}\", \n    \n}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"pipelineName": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-12-22T05:24:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}